details {
	background: #fff;
	border: 1px solid var(--border-color);
	border-radius: 8px;
	padding: 0;
	transition: all 0.3s ease;

	& > .dropdown-content {
		padding: 0 1rem;
		opacity: 0;
		transition: opacity 0.35s ease 0.1s;
	}

	& > summary {
		cursor: pointer;
		border-radius: 8px;
		padding: 0.5rem 1rem;
		background: #f5f5f5;
		list-style: none;
		&::-webkit-details-marker{
			display: none;
		}
		&::before {
			content: '\27A4';
			display: inline-block;
			font-size: 0.95em;
			transition: all 0.3s ease;
			margin-right: 0.6em;
			color: var(--text-gray);
		}
	}

	&[open] {
		& > summary {
		border-radius: 8px 8px 0 0;
		border-bottom: 1px solid var(--border-color);
			&::before {
				rotate: 90deg;
			}
		}
		& > .dropdown-content {
			opacity: 1;
		}
	}

	&.closed {
		& > .dropdown-content {
			opacity: 0;
		}
	}
}
