@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');
@import './dropdown.css';
@import './lambda_logo.css';
:root {
  interpolate-size: allow-keywords;
	--border-color: #e0e0e0;
	--accent-color: #4fb574;
	--accent-color-light: #64dc90;
	--accent-color-dark: #31834f;
	--text-gray: #ccc;
	--text-dark: #333;
	--accent-gold: #ffd700;
	--accent-pale-gold: #ffe761;
	--background-dark: #333333;
	--background-light: #eeeeee;
	--border-dark: #444444;
	--border-light: #dddddd;
}


* {
	box-sizing: border-box;
	accent-color: var(--accent-color);
	overscroll-behavior: contain;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	/* Типографика */
	letter-spacing: -0.01rem;
	word-spacing: 0.05rem;
	word-break: normal;
	overflow-wrap: break-word;
	text-wrap: pretty;
	text-rendering: geometricPrecision;
	text-overflow: ellipsis;
	text-box: trim-both ex text;
	text-combine-upright: all;
	text-justify: inter-character;
	text-align: justify;
	dominant-baseline: alphabetic;
	-webkit-hyphens: auto;
	hyphens: auto;
	-webkit-hyphenate-character: '\2010';
	hyphenate-character: '\2010';
	hyphenate-limit-chars: 5 5 3;
	hanging-punctuation: first last;
	widows: 3;
	orphans: 3;
		
	&::selection {
		background-color: var(--accent-color);
		color: #ffffff;
	}
}

hr {
	width: 100%;
	height: 1px;
	background-color: var(--border-color);
	border: none;
	margin: 7pt;
	align-self: center;
}

.vertical-hr {
	width: 1px;
	background-color: var(--border-color);
	border: none;
	margin: 7pt;
	align-self: stretch; /* Растягивает элемент по высоте родителя */
	height: 100%; /* Устанавливает высоту в 100% от родителя */
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	/* Основные параметры шрифта */
	font-family: 'Roboto', system-ui, -apple-system, sans-serif;
	font-size: 12pt;
	line-height: 1.45;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	scrollbar-gutter: stable both-edges;
}

a {
	text-decoration: none;
	color: var(--accent-color);

	&:hover {
		text-decoration: underline;
		color: var(--accent-color-light);
	}
}

.text-vertical {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.text-emphasis-circle {
	text-emphasis: filled double-circle #ffb703;
}

.article-container {
	width: 900px;
	margin: 1rem;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2px 2px 8px 8px;
	box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.1), inset 0 20px 15px -20px rgba(255, 255, 255, 0.5);
}

.alternative-modes-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	flex-wrap: wrap;
	max-width: 100%;
}

.alternative-modes-header-item {
	margin: 0.25em;

	& > .alternative-modes-header-tab-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 74px;
		height: 74px;
		font-size: 4em;
		line-height: 0;
		padding: 0;
		color: #333;
		background-color: #EEE;
		border: 1px solid #bbb;
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.15s ease;
		box-shadow: 
			0 2px 0 #999,
			0 3px 6px rgba(0,0,0,0.1);



		& > img {
			width: calc(100% - 15px);
			height: calc(100% - 15px);
			opacity: 0.8;
			transition: all 0.15s ease;
			-webkit-user-select: none;
			user-select: none;
			pointer-events: none;
		}

		&:hover, &.active {
			transform: translateY(-2px);
			box-shadow: 
				0 4px 0 #999,
				0 5px 8px rgba(0,0,0,0.15);

			& > img {
				opacity: 1;
			}
		}

		&:active, &.active {
			transform: translateY(2px);
			background-color: #d8d8d8;
			box-shadow: 
				0 0px 0 #999,
				0 1px 2px rgba(0,0,0,0.1);
			
			& > img {
				opacity: 0.7;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
				box-shadow:
					inset 0 3px 1px #999,
					inset 0 4px 6px rgba(0, 0, 0, 0.25);
				animation: pressIn 0.15s ease forwards;
			}
		}

		&.active:hover {
			&>img {
					opacity: 1;
				}
		}
	}
}

@keyframes pressIn {
	70% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.root-container {
	display: flex;
	width: 100%;
	max-width: 1920px;
	flex-direction: column;
	align-items: center;
	align-self: center;
	border: 1px solid var(--border-dark);
	box-sizing: border-box;
}

.content-header {
	display: flex;
	width: 100%;
	height: 84px;
	background-color: var(--background-dark);
	border-bottom: 1px solid var(--border-color);
	/* border-radius: 0 0 8px 8px; */
	padding-inline: 0.75rem;
	align-items: center;
	color: white;
	
	&>.content-header-title {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 1em;
	}

	&>.content-header-links {
		display: flex;
		gap: 1rem;
		margin-inline: 5rem;

		&>.content-header-links__item {
				display: inline-flex;
				position: relative;

				justify-content: center;
				align-items: center;

				width: 48px;
				height: 48px;

				background-color: var(--accent-gold);
				border: 2px solid var(--accent-pale-gold);
				border-radius: 2.5px;
			

				&>img {
					width: 32px;
					height: 32px;
				}
		}
	}
}

.download-large {
	background-color: var(--accent-gold);
	border: 2px solid var(--accent-pale-gold);
	color: var(--text-dark);
	width: 176px;
	height: 48px;
	cursor: pointer;
	border-radius: 2.5px;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;

	transition: all 150ms ease;

	&:hover {
		background-color: var(--accent-pale-gold);
		border-color: var(--accent-gold);
	}

	&:active {
		background-color: var(--accent-gold);
		border-color: var(--accent-pale-gold);
	}
}

.content-footer {
	font-family: 'Not Sans', sans-serif;
	width: 100%;
	padding: 1rem;
	background-color: #f5f5f5;
	border-top: 1px solid var(--border-color);
	border-radius: 0 0 8px 8px;
	padding-inline: 2em;
}

.content-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.content-list {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 1rem;
	margin: 1rem;
	min-height: 300px;
	background-color: #FAFAFA;
	border-radius: 2px 2px 8px 8px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
	tab-size: 1.75rem;

	& > ul {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 0.15em;
		margin: 0 0 0 1.75em;
		padding: 0;
		list-style-type: "\2726\0009";

		& > li::marker{
			color: var(--accent-color);
		}
	}
}

.alternative-modes-body {
	width: 100%;
	background-color: #fff;
	border-radius: 0 0 8px 8px;
}

.alternative-modes-content {
	display: grid;
	grid-template-columns: 21% 1fr;
	grid-template-rows: auto auto auto;
	gap: 0.5em;
	padding: 2rem;
	min-height: 300px;
	background-color: #FAFAFA;
	border-radius: 2px 2px 8px 8px;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}

.alternative-mode-icon {
	grid-row: 1;
	grid-column: 1;
	width: 128px;
	height: 128px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1.25em;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),
	inset 0 -1px 3px rgba(0, 0, 0, 0.025);

	& > img {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		object-fit: contain;
	}
}
.alternative-mode-title-container {
	grid-row: 1;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: 1em;

	& > .alternative-mode-title-text {
		font-size: 1.75em;
		font-weight: 700;
		margin: 0;
	}
}

.alternative-mode-divider {
	grid-row: 2;
	grid-column: 1 / 3;
}

.alternative-mode-description {
	grid-row: 3;
	grid-column: 1 / 3;
}





.text-bold {
	font-weight: 700;
}

.text-italic {
	font-style: italic;
}

.text-underline {
	text-decoration: underline;
}

.text-underline-dot {
	text-decoration: underline dotted;
}

.text-strike {
	text-decoration: line-through;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-accented {
	color: var(--accent-color);
}
