.text-small {
	font-size: 0.75rem;
}

.title-small {
	font-size: 1rem;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.underline-dot {
	text-decoration: underline dotted;
}

.question {
	cursor: help;
}